$textColor: #fff;
$secondaryTextColor: #000;

$firstGradient: rgb(48, 199, 10);
$secondGradient: #e7d80d;
$thirdGradient: #48507c;
$fourthGradient: #5d37f7;
$fifthGradient: #4a4c50;

$buttonColor: #4F2AC3;